*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(asdf.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainheader nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainheader nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.loginbtu{
    margin-top: 30px;
    margin-right: 10px;
}

.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff );
    border-radius: 10px;
}

main{
    
    display: grid;
    align-items: center;
}

.upsec{
    padding-left: 120px;
    padding-top: 70px;
    padding-bottom: 10px;
}

.midsec{
    padding-left: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.midsec button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff );
    border-radius: 10px;
}

.lowsec{
    padding-left: 650px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.about{
    width: 1500px;
    height: 200px;
    border: 1px ;
    padding: 150px;
    letter-spacing: 3px;
    word-spacing: 30px;
    line-height: 30px;
    text-transform: capitalize;
}